@charset "utf-8";

/* CSS Document */

/*Esto siempre va al incio del doc de estilos*/
*  {
	margin: 0;
	padding: 0;
}


header, footer, .navbar {
	background-color: transparent;
	color: #D96941;
}

.navbar {
	padding: 1%;	
}


.navbar .navbar-brand {
	font-size: 20pt;
}
.navbar #navbarDropdown {
	font-size: 16pt;
}
.navbar .navbar-brand,
.navbar #navbarDropdown {
	color:#A62B1F;
	font-weight: bold;
}

.dropdown-menu {
	background: rgb(25,60,64);
	color: #D96941;
	border-radius: 3px;
}

.dropdown-menu .dropdown-item {
	color:#D96941;
	font-weight: bold;
}

.dropdown-menu .dropdown-item:hover {

	background: #2E5902;
}

body {

	background: rgb(25,60,64);
	background: linear-gradient(0deg, #214001 0%, rgba(25,60,64,1) 50%);
}

#home {
	background-image:linear-gradient(0deg, rgba(25,60,64,1) 0%, rgba(25,60,64,0) 100%), url(img/home.jpg);
	background-position: center;
	height: 100vh;
	margin-bottom: 5%;
	color: whitesmoke;
	text-align: center;
}

.titulo-principal {

	font-size: 100pt;
}

#home p {
	font-size: 25pt;
}

.titulo {

	font-size: 50pt;
	color: #D96941;
}

.explicacion {
	
	font-size: 25pt;
	color: #D96941;
}

.animal {
	margin-top: 15%;
	margin-bottom: 15%;
}

.numero {
	font-size: 60pt;
}

.info {
	color: whitesmoke;
	padding: 5%;
}


footer {
	padding: 1%;
	text-align: center;
	font-weight: bold;
}